In [2]:
import pandas as pd
from pandas import Series,DataFrame
ny_df = pd.read_csv('NYPD_7_Major_Felony_Incidents.csv')
pd.set_option("display.max_columns", 20)

In [4]:
ny_df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>OBJECTID</th>
      <th>Identifier</th>
      <th>Occurrence Date</th>
      <th>Day of Week</th>
      <th>Occurrence Month</th>
      <th>Occurrence Day</th>
      <th>Occurrence Year</th>
      <th>Occurrence Hour</th>
      <th>CompStat Month</th>
      <th>CompStat Day</th>
      <th>CompStat Year</th>
      <th>Offense</th>
      <th>Offense Classification</th>
      <th>Sector</th>
      <th>Precinct</th>
      <th>Borough</th>
      <th>Jurisdiction</th>
      <th>XCoordinate</th>
      <th>YCoordinate</th>
      <th>Location 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>f070032d</td>
      <td>09/06/1940 07:30:00 PM</td>
      <td>Friday</td>
      <td>Sep</td>
      <td>6.0</td>
      <td>1940.0</td>
      <td>19.0</td>
      <td>9.0</td>
      <td>7.0</td>
      <td>2010.0</td>
      <td>BURGLARY</td>
      <td>FELONY</td>
      <td>D</td>
      <td>66.0</td>
      <td>BROOKLYN</td>
      <td>N.Y. POLICE DEPT</td>
      <td>987478.0</td>
      <td>166141.0</td>
      <td>(40.6227027620001, -73.9883732929999)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>c6245d4d</td>
      <td>12/14/1968 12:20:00 AM</td>
      <td>Saturday</td>
      <td>Dec</td>
      <td>14.0</td>
      <td>1968.0</td>
      <td>0.0</td>
      <td>12.0</td>
      <td>14.0</td>
      <td>2008.0</td>
      <td>GRAND LARCENY</td>
      <td>FELONY</td>
      <td>G</td>
      <td>28.0</td>
      <td>MANHATTAN</td>
      <td>N.Y. POLICE DEPT</td>
      <td>996470.0</td>
      <td>232106.0</td>
      <td>(40.8037530600001, -73.955861904)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.0</td>
      <td>716dbc6f</td>
      <td>10/30/1970 03:30:00 PM</td>
      <td>Friday</td>
      <td>Oct</td>
      <td>30.0</td>
      <td>1970.0</td>
      <td>15.0</td>
      <td>10.0</td>
      <td>31.0</td>
      <td>2008.0</td>
      <td>BURGLARY</td>
      <td>FELONY</td>
      <td>H</td>
      <td>84.0</td>
      <td>BROOKLYN</td>
      <td>N.Y. POLICE DEPT</td>
      <td>986508.0</td>
      <td>190249.0</td>
      <td>(40.688874254, -73.9918594329999)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4.0</td>
      <td>638cd7b7</td>
      <td>07/18/1972 11:00:00 PM</td>
      <td>Tuesday</td>
      <td>Jul</td>
      <td>18.0</td>
      <td>1972.0</td>
      <td>23.0</td>
      <td>7.0</td>
      <td>19.0</td>
      <td>2012.0</td>
      <td>GRAND LARCENY OF MOTOR VEHICLE</td>
      <td>FELONY</td>
      <td>F</td>
      <td>73.0</td>
      <td>BROOKLYN</td>
      <td>N.Y. POLICE DEPT</td>
      <td>1005876.0</td>
      <td>182440.0</td>
      <td>(40.6674141890001, -73.9220463899999)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5.0</td>
      <td>6e410287</td>
      <td>05/21/1987 12:01:00 AM</td>
      <td>Thursday</td>
      <td>May</td>
      <td>21.0</td>
      <td>1987.0</td>
      <td>0.0</td>
      <td>5.0</td>
      <td>28.0</td>
      <td>2009.0</td>
      <td>GRAND LARCENY</td>
      <td>FELONY</td>
      <td>K</td>
      <td>75.0</td>
      <td>BROOKLYN</td>
      <td>N.Y. POLICE DEPT</td>
      <td>1017958.0</td>
      <td>182266.0</td>
      <td>(40.6668988440001, -73.878495425)</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
ny_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123465 entries, 0 to 1123464
Data columns (total 20 columns):
OBJECTID                  1123464 non-null float64
Identifier                1123465 non-null object
Occurrence Date           1123222 non-null object
Day of Week               1123291 non-null object
Occurrence Month          1123291 non-null object
Occurrence Day            1123291 non-null float64
Occurrence Year           1123221 non-null float64
Occurrence Hour           1123222 non-null float64
CompStat Month            1123463 non-null float64
CompStat Day              1123463 non-null float64
CompStat Year             1123463 non-null float64
Offense                   1123464 non-null object
Offense Classification    1123464 non-null object
Sector                    1098137 non-null object
Precinct                  1123443 non-null float64
Borough                   1123384 non-null object
Jurisdiction              1123463 non-null object
XCoordinate               1123464 non-null float64
YCoordinate               1123464 non-null float64
Location 1                1123464 non-null object
dtypes: float64(10), object(10)
memory usage: 171.4+ MB

In [5]:
# Find null data
null_columns=ny_df.columns[ny_df.isnull().any()]
print(ny_df[null_columns].isnull().sum())
# print(ny_df[ny_df.isnull().any(axis=1)][null_columns].head(20))
print(ny_df[ny_df.isnull().any(axis=1)][null_columns].head(20))

OBJECTID                      1
Occurrence Date             243
Day of Week                 174
Occurrence Month            174
Occurrence Day              174
Occurrence Year             244
Occurrence Hour             243
CompStat Month                2
CompStat Day                  2
CompStat Year                 2
Offense                       1
Offense Classification        1
Sector                    25328
Precinct                     22
Borough                      81
Jurisdiction                  2
XCoordinate                   1
YCoordinate                   1
Location 1                    1
dtype: int64

     OBJECTID         Occurrence Date Day of Week Occurrence Month  \
6         7.0  11/13/1990 12:01:00 AM     Tuesday              Nov
7         8.0  02/02/1992 04:00:00 PM      Sunday              Feb
65       66.0  03/19/2003 01:30:00 PM   Wednesday              Mar
89       90.0  07/25/2004 12:01:00 AM      Sunday              Jul
100     101.0  11/17/2004 08:00:00 AM   Wednesday              Nov
128     129.0  03/17/2005 09:00:00 AM    Thursday              Mar
224     225.0  11/25/2005 09:00:00 AM      Friday              Nov
296     297.0  01/09/2006 04:30:00 AM      Monday              Jan
358     359.0  01/09/2006 09:05:00 AM      Monday              Jan
387     388.0  01/09/2006 10:45:00 AM      Monday              Jan
422     423.0  01/09/2006 12:30:00 PM      Monday              Jan
547     548.0  01/09/2006 06:15:00 PM      Monday              Jan
647     648.0  01/10/2006 12:01:00 AM     Tuesday              Jan
650     651.0  01/10/2006 12:01:00 AM     Tuesday              Jan
694     695.0  01/10/2006 05:20:00 AM     Tuesday              Jan
724     725.0  01/10/2006 08:11:00 AM     Tuesday              Jan
762     763.0  01/10/2006 10:30:00 AM     Tuesday              Jan
777     778.0  01/10/2006 12:00:00 PM     Tuesday              Jan
785     786.0  01/10/2006 12:00:00 PM     Tuesday              Jan
837     838.0  01/10/2006 03:00:00 PM     Tuesday              Jan

     Occurrence Day  Occurrence Year  Occurrence Hour  CompStat Month  \
6              13.0           1990.0              0.0             6.0
7               2.0           1992.0             16.0             3.0
65             19.0           2003.0             13.0             3.0
89             25.0           2004.0              0.0            11.0
100            17.0           2004.0              8.0             2.0
128            17.0           2005.0              9.0             7.0
224            25.0           2005.0              9.0             1.0
296             9.0           2006.0              4.0             1.0
358             9.0           2006.0              9.0             1.0
387             9.0           2006.0             10.0             1.0
422             9.0           2006.0             12.0             1.0
547             9.0           2006.0             18.0             1.0
647            10.0           2006.0              0.0             7.0
650            10.0           2006.0              0.0             8.0
694            10.0           2006.0              5.0             1.0
724            10.0           2006.0              8.0             1.0
762            10.0           2006.0             10.0             1.0
777            10.0           2006.0             12.0             1.0
785            10.0           2006.0             12.0             5.0
837            10.0           2006.0             15.0             1.0

     CompStat Day  CompStat Year         Offense Offense Classification  \
6             7.0         2007.0   GRAND LARCENY                 FELONY
7            27.0         2012.0   GRAND LARCENY                 FELONY
65           15.0         2007.0  FELONY ASSAULT                 FELONY
89           30.0         2006.0   GRAND LARCENY                 FELONY
100          13.0         2006.0   GRAND LARCENY                 FELONY
128          25.0         2007.0   GRAND LARCENY                 FELONY
224          19.0         2006.0   GRAND LARCENY                 FELONY
296           9.0         2006.0         ROBBERY                 FELONY
358           9.0         2006.0   GRAND LARCENY                 FELONY
387          10.0         2006.0        BURGLARY                 FELONY
422          14.0         2006.0   GRAND LARCENY                 FELONY
547           9.0         2006.0   GRAND LARCENY                 FELONY
647          27.0         2006.0   GRAND LARCENY                 FELONY
650          31.0         2006.0   GRAND LARCENY                 FELONY
694          10.0         2006.0        BURGLARY                 FELONY
724          10.0         2006.0         ROBBERY                 FELONY
762          19.0         2006.0   GRAND LARCENY                 FELONY
777          12.0         2006.0   GRAND LARCENY                 FELONY
785          25.0         2006.0   GRAND LARCENY                 FELONY
837          10.0         2006.0         ROBBERY                 FELONY

    Sector  Precinct        Borough         Jurisdiction  XCoordinate  \
6      NaN      73.0       BROOKLYN  N.Y. HOUSING POLICE    1010272.0
7      NaN     101.0         QUEENS     N.Y. POLICE DEPT    1053678.0
65     NaN      43.0          BRONX  N.Y. HOUSING POLICE    1020891.0
89     NaN     102.0         QUEENS     N.Y. POLICE DEPT    1025885.0
100    NaN     101.0         QUEENS     N.Y. POLICE DEPT    1051002.0
128    NaN     111.0         QUEENS     N.Y. POLICE DEPT    1048565.0
224    NaN     120.0  STATEN ISLAND     N.Y. POLICE DEPT     967930.0
296    NaN     115.0         QUEENS     N.Y. POLICE DEPT    1023382.0
358    NaN      75.0       BROOKLYN  N.Y. HOUSING POLICE    1013211.0
387    NaN     122.0  STATEN ISLAND     N.Y. POLICE DEPT     953138.0
422    NaN      23.0      MANHATTAN  N.Y. HOUSING POLICE     999061.0
547    NaN       6.0      MANHATTAN  N.Y. TRANSIT POLICE     985126.0
647    NaN     106.0         QUEENS     N.Y. POLICE DEPT    1032978.0
650    NaN     114.0         QUEENS  N.Y. HOUSING POLICE    1007654.0
694    NaN     122.0  STATEN ISLAND     N.Y. POLICE DEPT     942158.0
724    NaN      73.0       BROOKLYN     N.Y. POLICE DEPT    1008585.0
762    NaN     122.0  STATEN ISLAND     N.Y. POLICE DEPT     959046.0
777    NaN     122.0  STATEN ISLAND     N.Y. POLICE DEPT     946135.0
785    NaN      14.0      MANHATTAN     N.Y. POLICE DEPT     988461.0
837    NaN      83.0       BROOKLYN     N.Y. POLICE DEPT    1004336.0

     YCoordinate                             Location 1
6       183760.0          (40.671025464, -73.906195082)
7       159044.0      (40.6029515910001, -73.749976261)
65      236726.0      (40.8163661450001, -73.867626311)
89      191779.0      (40.6929761100001, -73.849862531)
100     158131.0          (40.600466161, -73.759622086)
128     216315.0          (40.760185479, -73.767842585)
224     156811.0      (40.5970793830001, -74.058768029)
296     212815.0  (40.7507262030001, -73.8587662159999)
358     182271.0      (40.6669293680001, -73.895606726)
387     146926.0  (40.5699074510001, -74.1119869039999)
422     229912.0      (40.7977271660001, -73.946507862)
547     207917.0      (40.7373689550001, -73.996840424)
647     187666.0          (40.681650679, -73.824314454)
650     219564.0       (40.7693060870001, -73.91550818)
694     134772.0      (40.5365017560001, -74.151432948)
724     182712.0      (40.6681537370001, -73.912280306)
762     156543.0  (40.5963229640001, -74.0907573539999)
777     140922.0      (40.5534003060001, -74.137159835)
785     211832.0      (40.7481136960001, -73.984803708)
837     194531.0  (40.7006048480001, -73.9275615719999)

In [6]:
# del unnecessary colums 
drop_col = ['Occurrence Date', 'OBJECTID', 'Identifier', 'Offense Classification','Sector','Jurisdiction','XCoordinate','YCoordinate']
ny_df =ny_df.drop(drop_col, axis=1)

In [7]:
# only interested in offenses in last 10 years [2006, 2015]
ny_df=ny_df[ny_df['Occurrence Year']>=2006]